{% extends 'template.html' %}
{% load static %}


{% block content %}
<main>

    <section class="banner-section d-flex justify-content-center align-items-end">
        <div class="section-overlay"></div>

        <div class="container">
            <div class="row">

                <div class="col-lg-7 col-12">
                    <h1 class="text-white mb-lg-0">About Us</h1>
                </div>

                <div class="col-lg-4 col-12 d-flex justify-content-lg-end align-items-center ms-auto">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href={% url 'home' %}>Home</a></li>

                            <li class="breadcrumb-item active" aria-current="page">About Us</li>
                        </ol>
                    </nav>
                </div>

            </div>
        </div>
    </section>


    <section class="section-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12">
                    <img src="{% static 'images/cleaning-concept-with-man-showing-business-card.jpg' %}"
                        class="featured-image img-fluid">
                </div>

                <div class="col-lg-6 col-12">
                    <div class="featured-block">
                        <h2 class="mb-4">DIT Design Studio</h2>

                        <p>Design Studio The DIT Design Studio is the result of a collaboration between the Dar es
                            Salaam Institute of Technology (DIT) and Rice 360° Institute for Global Health (Rice 360°)
                            with support from the Lemelson Foundation. It follows from both institutes’ commitment to
                            the advancement of students’ practical professional skills.<a href="#"></a></p>

                        <p>The DIT curriculum embodies the ‘teaching factory’ approach, where technical training is
                            directly linked to real-life industry. Similarly, the Rice 360° Institute’s Leading in
                            Invention Education workstream is focused on expanding and sharing their model of invention
                            and entrepreneurship education. These synergistic approaches have led to their collaboration
                            that includes faculty development workshops, international student exchanges and
                            internships, and the Design Studio – a focal point for active learning and innovative
                            thinking.</p>

                        <a class="custom-btn btn button button--atlas mt-3" href={% url 'home' %}>
                            <span>Get in touch</span>

                            <div class="marquee" aria-hidden="true">
                                <div class="marquee__inner">
                                    <span>Get in touch</span>
                                    <span>Get in touch</span>
                                    <span>Get in touch</span>
                                    <span>Get in touch</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>


<!-- JAVASCRIPT FILES -->

{% endblock %}