{% extends 'template.html' %}
{% load static %}


{% block content %}
<main>

    <section class="banner-section d-flex justify-content-center align-items-end">
        <div class="section-overlay"></div>

        <div class="container">
            <div class="row">

                <div class="col-lg-7 col-12">
                    <h1 class="text-white mb-lg-0">News</h1>
                </div>

                <div class="col-lg-4 col-12 d-flex justify-content-lg-end align-items-center ms-auto">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href={% url 'home' %}>Home</a></li>

                            <li class="breadcrumb-item active" aria-current="page">News</li>
                        </ol>
                    </nav>
                </div>

            </div>
        </div>
    </section>


    <section class="section-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12">
                    <img src="{% static 'images/cleaning-concept-with-man-showing-business-card.jpg' %}"
                        class="featured-image img-fluid">
                </div>

                <div class="col-lg-6 col-12">
                    <div class="featured-block">
                        <h2 class="mb-4">{{ post.name }}</h2>
                        <h6 style="font-size: x-small;">Uploaded in: {{ post.dateUpload }}</h6>

                        <p>{{ post.description }}</p>

                    </div>
                </div>

            </div>
        </div>
    </section>
</main>
{% endblock %}