{% extends 'template.html' %}
{% load static %}

{% block content %}
<body>

        <header class="site-header">
            <div class="container">
                <div class="row">
                    
                    <div class="col-lg-12 col-12 d-flex flex-wrap">
                        <p class="d-flex me-4 mb-0">
                            <i class="bi-house-fill me-2"></i>
                            DIT Design Studio
                        </p>

                        <p class="d-flex d-lg-block d-md-block d-none me-4 mb-0">
                            <i class="bi-clock-fill me-2"></i>
                            <strong class="me-2">Mon - Fri</strong> 8:00 AM - 5:30 PM
                        </p>

                        <p class="site-header-icon-wrap text-white d-flex mb-0 ms-auto">
                            <i class="site-header-icon bi-whatsapp me-2"></i>

                            <a href=" +255718894449" class="text-white">
                                +255718894449
                            </a>
                        </p>
                    </div>

                </div>
            </div>
        </header>

        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <img src="images/bubbles.png" class="logo img-fluid" alt="">

                    <span class="ms-2">Design Studio</span>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="index.html">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About Us</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#section_5" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Our Services</a>

                            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                <li><a class="dropdown-item" href="services-detail.html">Education and Training</a></li>

                                <li><a class="dropdown-item" href="PCB.html">PCB Design and Development</a></li>

                                <li><a class="dropdown-item" href="CNC.html">CNC Machining and Laser Cutting</a></li>

                                <li><a class="dropdown-item" href="prototyping.html">Prototyping and Testing</a></li>

                                <li><a class="dropdown-item" href="application.html">Application Development</a></li>

                                <li><a class="dropdown-item" href="software.html">Software developent</a></li>

                                <li><a class="dropdown-item" href="CAD.html">CAM/CAD services</a></li>

                                <li><a class="dropdown-item" href="3D.html">3D Printing and Scanning</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="news.html">News</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="projects.html">Projects</a>
                        </li>

                        <li class="nav-item ms-3">
                            <a class="nav-link custom-btn custom-border-btn custom-btn-bg-white btn" href="about.html">Get started</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <main>



          
            <section class="banner-section d-flex justify-content-center align-items-end">
                <div class="section-overlay"></div>

                <div class="container">
                    <div class="row">

                        <div class="col-lg-7 col-12">
                            <h1 class="text-white mb-lg-0">Our Projects (year)</h1>
                        </div>

                        <div class="col-lg-4 col-12 d-flex justify-content-lg-end align-items-center ms-auto">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>

                                    <li class="breadcrumb-item active" aria-current="page">Projects List </li>
                                </ol>
                            </nav>
                        </div>

                    </div>
                </div>
            </section>
         
            <section> 
                

                 <div class="grid-container">
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            <div class="services-info px-4 pt-4">
                               <h3>Project Lists </h3> 
                            </div>
                        </div>
                        
                        <!-- <div class="col-lg-6 col-12">
                            <div class="services-info px-4 pt-4">
                               <h4> Status:<h3 class="mb-4">Ongoing/complete(year) </h3></h4>
                                
                            </div>
                        </div> -->
                    </div>
                </div>            
                        

                
            </section>
             
            <section class="grid-container">   
                <div class="container">
                    <div class="row">

                        <div >
                         <ul class="orientationHorizontal">
                          <li>
                                <a href="project-detail.html">projects performed on 2024</a>
                            
                            </li><li>
                                <a href="project-detail.html">projects performed on 2023</a>
                            
                            </li><li>
                                <a href="project-detail.html">projects performed on 2022</a>
                            
                            </li><li>
                                <a href="project-detail.html">projects performed on 2021</a>
                            
                            </li><li>
                                <a href="project-detail.html">projects performed on 2020</a>
                            
                            </li><li>
                                <a href="project-detail.html">projects performed on 2019</a>
                        
                        
                         </ul>
                        </div>
                            

                     
                    </div>
                </div>
            </section>


    





        <section class="partners-section">
                <div class="container">
                    <div class="row justify-content-center align-items-center">

                        <div class="col-lg-12 col-12">
                            <h4 class="partners-section-title bg-white shadow-lg">Our parters in Technology</h4>
                        </div>

                        <div class="col-lg-3 col-md-4 col-6">
                            <img src="images/partners/glorix.svg" class="partners-image img-fluid">
                        </div>

                        <div class="col-lg-3 col-md-4 col-6">
                            <img src="images/partners/rolf-leasing.svg" class="partners-image img-fluid">
                        </div>

                        <div class="col-lg-3 col-md-4 col-6">
                            <img src="images/partners/woocommerce.svg" class="partners-image img-fluid">
                        </div>

                        <div class="col-lg-3 col-md-4 col-6">
                            <img src="images/partners/toprak-leasing.svg" class="partners-image img-fluid">
                        </div>

                    </div>


               
                </div>
            </section>  
        </main>
    </body>
{% endblock %}
