{% extends 'template.html' %}
{% load static %}

{% block content %}
<main>

    <section class="banner-section d-flex justify-content-center align-items-end">
        <div class="section-overlay"></div>

        <div class="container">
            <div class="row">

                <div class="col-lg-7 col-12">
                    <h1 class="text-white mb-lg-0">Project ({{ year }})</h1>
                </div>

                <div class="col-lg-4 col-12 d-flex justify-content-lg-end align-items-center ms-auto">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href={% url 'home' %}>Home</a></li>

                            <li class="breadcrumb-item active" aria-current="page">Project Listing</li>
                        </ol>
                    </nav>
                </div>

            </div>
        </div>
    </section>


    <div class="grid-container section-bg">
        {% for project in projects %}
        <div class="services-thumb  mb-lg-0">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-12">
                    <div class="services-image-wrap">
                        <a href={% url 'single_project' project.id %}>
                            <img src={{ project.image.url }} class="services-image img-fluid" alt="">

                            <div class="services-icon-wrap">
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="text-white mb-0">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="col-lg-7 col-md-7 col-12 d-flex align-items-center">
                    <div class="services-info mt-4 mt-lg-0 mt-md-0">
                        <h4 class="services-title mb-1 mb-lg-2">
                            <a class="services-title-link" href={% url 'single_project' project.id %}>
                                {{ project.name }}</a>
                        </h4>

                        <p>{{ project }}</p>

                        <div class="d-flex flex-wrap align-items-center">


                            <a href={% url 'single_project' project.id %}
                                class="custom-btn btn button button--atlas mt-2 ms-auto">
                                <span>Learn More</span>

                                <div class="marquee" aria-hidden="true">
                                    <div class="marquee__inner">
                                        <span>Learn More</span>
                                        <span>Learn More</span>
                                        <span>Learn More</span>
                                        <span>Learn More</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}